@use 'variables' as *;
@use 'mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html {
  background: url('/assets/bg.png');
  background-size: cover;

  margin: 0;
}